.Header {
display: flex;
border-bottom: solid #E0354B;
color: red;
}

.Header-heading {
margin-top: 80px;
}

.Header-logo {
height: 200px;
width: 200px;
}

.Footer {
position: fixed;
text-align: center;
bottom: 0em;
width: 100%;
border-top: solid red;
}
